description "I make life painful for developers"

native-tool {
  shell  { force "git commit .*"; force "git push .*"; }
  read   { force ".*Cargo.toml.*"; }
  write  { force ".*Cargo.toml.*"; }
  aws disable-auto-readonly=true
}
